<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    NEW TAG:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="addtag" />
        Name: <input type="text" name="name" value="basketball" />
        Description: <input type="text" name="description" value="NBA league" />
        Owner: <input type="text" name="owner" value="all" />
        Type: <input type="text" name="type" value="1" />
        <input type="submit" value="submit" />
    </form>
    DELETE TAG:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="deltag" />
        Name: <input type="text" name="name" value="basketball" />
        <input type="submit" value="submit" />
    </form>
<!--    MODIFY TAG:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="modifytag" />
        From Name: <input type="text" name="fromname" value="basketball" />
        To Name: <input type="text" name="toname" value="football" />
        <input type="submit" value="submit" />
    </form>-->
    NEW USER:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="adduser" />
        USER_ID: <input type="text" name="user_id" value="alfred" />
        EMAIL: <input type="text" name="email" value="tuo.yuwen@163.com" />
        PASSWORD: <input type="password" name="password" value="good" />
        TYPE: <input type="text" name="type" value="1" />
        ARTICLE_COUNT: <input type="text" name="article_count" value="100" />
        <input type="submit" value="submit" />
    </form>
    DELETE USER:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="deluser" />
        USER_ID: <input type="text" name="user_id" value="alfred" />
        <input type="submit" value="submit" />
    </form>
<!--    MODIFY USER:<br />
    <form method="post" action="/admin/">
        <input type="hidden" name="actiontype" value="modifyuser" />
        From USER_ID: <input type="text" name="fromname" value="alfred" />
        To USER_ID: <input type="text" name="toname" value="stauren" />
        <input type="submit" value="submit" />
    </form>-->

</body>
</html>
